@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

  
  
  body {
background-color: beige;

text-align: center;
font-family: 'Roboto Slab', serif;
  }
  
h1{
margin-left: auto;
margin-right: auto;
text-align: center;
color: black;
font-family: 'Roboto Slab', serif;
color: #27e127;       
}


.intro{
  background-color: teal;
}
h2{
border-color:brown; 
margin-left: auto;
margin-right: auto;
text-align: center;

}

  
h3{
  margin-left: auto;
  margin-right: auto;
color: black;           
}

h4{
  margin-left: auto;
  margin-right: auto;   

color: black;

 
}

h5{
  margin-left: auto;
  margin-right: auto;
color: black;


}

h6{
  margin-left: auto;
  margin-right: auto;


color: black;}

.class table, th, tr,td {
border: 5px solid black;
}


.h7 list {
list-style: disc; 

 

}

